__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
.env
.env.*
!.env.example
.coverage
coverage.xml
htmlcov/
.idea/
.vscode/
*.log
discord-local-proxy.ini
discord-local-proxy-packet.bin
drover-packet.bin
build/
dist/
release/
discord_local_proxy/native/*.dll
discord_local_proxy/native/*.so
discord_local_proxy/native/*.exp
discord_local_proxy/native/*.lib
discord_local_proxy/native/*.pdb
